:root {
    /* Add your CSS variables here */
    --green: #00FF00;
}

/* Apply the CSS variables to body, list, and message elements */
/* body */
/* ul */
/* li */
/* .list */
/* #msg */

/* Create light and dark theme classes below */
/* .light-theme  */
/* .dark-theme */

/* Style the button below */
/* .btn */